<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{url}} | {{title}}</title>
    <style>
        .nav li{
            display: inline;
            margin-right: 15px;
            font-size: large;
        }
    </style>
</head>
<body>
    <h1>Wlcome To My {{title}}</h1>
    
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/about/">About</a></li>
    </ul>
    
    <h2>{{url}}</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, repellendus libero molestiae, culpa ullam adipisci doloribus doloremque officiis dolor incidunt nisi odit architecto eum magni nesciunt recusandae tenetur? Reprehenderit, voluptas!</p>
    <p>by {{creator}}</p>
</body>
</html>