{% extends "base.html" %}
{% load static %}
{% block content %}
<img src="{% static "images/ABOUTPAGE.png" %}" alt="Home Banner" width='100%'>
<link rel="stylesheet" href="{% static app_css %}">
<header class="hero">
    <h1>Tentang Kami</h1>
    <p>Kami adalah perusahaan yang berkomitmen untuk memberikan layanan terbaik kepada pelanggan kami.</p>
</header>

<section class="about">
    <h2>Visi dan Misi</h2>
    <p>Visi kami adalah menjadi pemimpin dalam industri ini, dan misi kami adalah memberikan layanan berkualitas tinggi kepada semua pelanggan.</p>
</section>

<footer class="footer">
    <p>&copy; 2023 Nama Perusahaan. Semua hak dilindungi.</p>
</footer>
{% endblock content %}